body {
  background: #f0f0f0;
  color: #333;
  place-items: unset;
  font-family: "Be Vietnam Pro", sans-serif, Georgia, "Times New Roman", Times,
    serif;
  font-size: 14px;
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
.layout {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 15px 45px;
  width: 80%;
}
.notification {
  display: none;
}
.header-compose {
  display: flex;
  justify-content: end;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  align-items: center;
  border-top: 1px solid #a9a9a9c3;
  padding-top: 8px;

}
.selection {
  height: 50px;
  width: 120px;
  text-align: center;
  border-radius: 16px;
  color: gray;
}
.input-compose {
  display: flex;
  justify-content: end;
  width: 350px;
  align-items: center;
}
.divider {
  height: 25px;
  width: 1px;
  background: black;
}

.input-compose input {
  min-width: 200px;
  height: 20px;
  border-radius: 16px;
  border: 1px solid #636363;
  padding: 10px;
  background-color: #f0f0f0;
  color: #333;
  margin-right: 8px;
}

.main-screen {
  display: flex;
  height: 30vh;
  width: 65%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 40px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #a8a8a8, -15px -15px 30px #ffffff;
}
.rolling-number {
  font-size: 100px;
  font-weight: bold;
}
.button-compose {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.roll-button {
  width: 200px;
  height: 70px;
  font-size: 1rem;
  background-color: #ff00b3;
}
.new-button,
.input-compose button {
  width: fit-content;
  background-color: #a8a8a861;
  height: 50px;
  color: #343434ec;
}
.storage-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}
.roll-item {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 59px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 17px 17px 33px #acacac, -17px -17px 33px #ffffff;
}

/* Button animation */
/* From Uiverse.io by mi-series */
.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #ff00b3;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}

@keyframes floatHorizontal {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(120%);
  }
}

@media screen and (max-width: 767px) {
  .layout {
    padding-top: 15px;
    align-items: center;
  }
  .notification {
    display: inline;
    width: 100%;
    text-align: start;
    font-size: 8px;
    color: red;
    animation: floatHorizontal 10s linear infinite;
  }
  .main-screen {
    height: 20vh;
    width: 80%;
  }
  .header-compose {
    margin-bottom: 10px;
  }
  .header-compose .selection {
    flex: 1 1 auto;
  }
  .storage-list {
    grid-template-columns: repeat(5, 1fr);
  }
  .rolling-number {
    font-size: 2rem;
  }
  .roll-button {
    width: 100px;
    height: 70px;
    font-size: 1rem;
    margin-right: 0;
  }
  .new-button {
    width: fit-content;
    height: 40px;
    border-radius: 16px;
    font-size: 12px;
    margin-bottom: 1ch;
  }
  .divider {
    display: none;
  }
  .input-compose {
    margin-top: 8px;
  }
}
